.heading {
    text-align: center;
    color: rgb(4, 29, 4);
    background-color: rgb(196, 235, 196);
}

* {
    font-family:'Lucida Sans', sans-serif;
    text-align: center;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid green;
}

#link {
    font-size: large;
    color: rgb(4, 29, 4);
    text-decoration: none;
}

li {
    text-align: left;
}

button {
    color: rgb(4, 29, 4);
    background-color: rgb(196, 235, 196);
    width: 200px;
    height: 50px;
}

html {
    background-color: rgb(232, 242, 232);
}

button:hover {
    background-color: rgb(7, 221, 7);
}
